<!DOCTYPE html>
<html lang="en" ng-app="email-sig">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Email Signature Generator</title>
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="bootstrap" />
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link rel="stylesheet" href="style.css" />
  <script data-require="angular.js@1.5.x" src="https://code.angularjs.org/1.5.8/angular.js" data-semver="1.5.8"></script>
  <script data-require="angular-animate@1.5.*" data-semver="1.5.8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script data-require="angular-touch@1.5.*" data-semver="1.5.8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
  <script data-require="ui-bootstrap@2.1.3" data-semver="2.1.3" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.1.3.js"></script>
  <script src="app.js"></script>
  <script type="text/javascript">
  function selectElementContents(el) {
    var body = document.body, range, sel;
    if (document.createRange && window.getSelection) {
      range = document.createRange();
      sel = window.getSelection();
      sel.removeAllRanges();
      try {
          range.selectNodeContents(el);
          sel.addRange(range);
      } catch (e) {
          range.selectNode(el);
          sel.addRange(range);
      }
    } else if (body.createTextRange) {
      range = body.createTextRange();
      range.moveToElementText(el);
      range.select();
    }
    document.execCommand("Copy");
  }
  </script>
</head>

<body ng-controller="MainCtrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>FutureWorld Email Signature Generator</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputName" class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputName" placeholder="Firstname Lastname" ng-model="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-4 control-label">Title</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputTitle" placeholder="Chief Geek" ng-model="title">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMobile" class="col-sm-4 control-label">Mobile</label>
            <div class="col-sm-8">
              <input type="tel" class="form-control" id="inputMobile" placeholder="+2782 123 4567" ng-model="mobile">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSkype" class="col-sm-4 control-label">Skype</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputSkype" placeholder="skypeUsername" ng-model="skype">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLinkedIn" class="col-sm-4 control-label">LinkedIn</label>
            <div class="col-sm-8">
              <input type="url" class="form-control" id="inputLinkedIn" placeholder="https://za.linkedin.com/in/bterespolsky" ng-model="linkedin">
            </div>
          </div>
          <div class="form-group">
            <label for="inputTwitter" class="col-sm-4 control-label">Twitter (optional)</label>
            <div class="col-sm-8">
              <input type="url" class="form-control" id="inputTwitter" placeholder="https://twitter.com/bteres" ng-model="twitter">
            </div>
          </div>
          <div class="form-group">
            <label for="inputGithub" class="col-sm-4 control-label">Github (optional)</label>
            <div class="col-sm-8">
              <input type="url" class="form-control" id="inputGithub" placeholder="https://github.com/bteres" ng-model="github">
            </div>
          </div>
          <div class="form-group">
            <label for="inputStackoverflow" class="col-sm-4 control-label">StackOverflow (optional)</label>
            <div class="col-sm-8">
              <input type="url" class="form-control" id="inputStackoverflow" placeholder="http://stackoverflow.com/users/3510345/bteres" ng-model="stackoverflow">
            </div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary pull-right" style="margin-right:15px;" type="button" name="copy" onclick="selectElementContents( document.getElementById('signature') );">Copy</button>
          </div>
        </form>
      </div>
      <div class="col-xs-12 hidden-md hidden-lg">
        <hr>
      </div>
      <div class="col-md-6">
        <table id="signature" border="0" cellpadding="0" cellspacing="0" style="text-align: left; color: #000000; font-family: Helvetica, Arial, sans-serif;">
          <tbody>
            <tr>
              <td style="padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;" valign="top"><span style="font-size: 12pt; font-weight: bold; color: #ED2B63">{{name}}</span>
                <br>
                <span style="margin-top: 0px; margin-bottom: 0px; font-weight: normal; font-size: 9pt;">{{title}}</span>
                <br>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 0px; padding-top: 7px; padding-bottom: 4px; padding-right: 0px;" valign="top">
                <a href="https://www.futureworld.org"><img alt="FutureWorld" border="0" height="26" nosend="1" src="https://res.cloudinary.com/futureworld/image/upload/v1559141644/futureworld-logo_l28jce.gif" title="FutureWorld"></a>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;" valign="top"><span style="text-align: left; color: #000000; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal;">Mobile: <a ng-href="tel:{{mobile | removeSpaces}}" style="text-decoration: none; color: #ED2B63"><font color="#ED2B63">{{mobile}}</font></a></span>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;" valign="top"><span style="text-align: left; color: #000000; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal;">Skype: <a ng-href="skype:{{skype}}?userinfo" style="text-decoration: none; color: #ED2B63"><font color="#ED2B63">{{skype}}</font></a></span>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 0px; padding-top: 7px; padding-bottom: 0px; padding-right: 0px;" valign="top">
                <a ng-href="{{linkedin}}" ng-if="linkedin" style="text-decoration: none; display: inline;"><img alt="LinkedIn" data-filename="linkedin.png" height="18" nosend="1" src="https://res.cloudinary.com/futureworld/image/upload/v1559146136/linkedin_ujy22z.jpg" style="border:none; display:inline;" width="18"></a>
                <a ng-href="{{twitter}}" ng-if="twitter" style="text-decoration: none; display: inline;"><img alt="Twitter" data-filename="twitter.png" height="18" nosend="1" src="https://res.cloudinary.com/futureworld/image/upload/v1559146136/twitter_kgpjik.jpg" style="border:none; display:inline;" width="18"></a>
                <a ng-href="{{github}}" ng-if="github" style="display: inline; text-decoration: none;"><img alt="Github" data-filename="github.png" height="18" nosend="1" src="https://res.cloudinary.com/futureworld/image/upload/v1559146136/github_gprzju.jpg" style="border:none; display:inline;" width="18"></a>
                <a ng-href="{{stackoverflow}}" ng-if="stackoverflow" style="display: inline; text-decoration: none;"><img alt="Stackoverflow" data-filename="stackoverflow.png" height="18" nosend="1" src="https://res.cloudinary.com/futureworld/image/upload/v1559146136/stackoverflow_nwzwwi.jpg" style="border:none; display:inline;" width="18"></a>
              </td>
            </tr>
            <tr>
              <td style="padding-left: 0px; padding-top: 7px; padding-bottom: 0px; padding-right: 0px;" valign="top"><span style="text-align: left; color: #000000; font-family: Arial; font-size: 9pt; font-style: normal; font-weight: normal;"><a href="https://futureworld.org" style="text-decoration: none; color: #ED2B63">futureworld.org</a> | <a href="https://mindbullets.net" style="text-decoration: none; color: #ED2B63">mindbullets.net</a></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
